/* 메인 이미지 */
#mainImg {
    max-height: 600px;
    overflow: hidden;
}
#jejuImg {
    max-height: initial;
    margin-top: -30%;
    width: 100%;
}
#jocheonImg {
    max-height: initial;
    margin-top: -15%;
    width: 100%;
}
#gujwaImg {
    max-height: initial;
    margin-top: -5%;
    width: 100%;
}
#sungsanImg {
    max-height: initial;
    margin-top: -25%;
    width: 100%;
}
#pyoseonImg {
    max-height: initial;
    margin-top: -22%;
    width: 100%;
}
#namwonImg {
    max-height: initial;
    margin-top: -7%;
    width: 100%;
}
#seogwipoImg {
    max-height: initial;
    margin-top: -7%;
    width: 100%;
}
#andeokImg {
    max-height: initial;
    margin-top: -7%;
    width: 100%;
}
#daejungImg {
    max-height: initial;
    margin-top: -25%;
    width: 100%;
}
#hangyeongImg {
    max-height: initial;
    margin-top: -15%;
    width: 100%;
}
#hanrimImg {
    max-height: initial;
    margin-top: -8%;
    width: 100%;
}
#aewolImg {
    max-height: initial;
    margin-top: -7%;
    width: 100%;
}
#udoImg {
    max-height: initial;
    margin-top: -5%;
    width: 100%;
}


/* spot List */
.tourIntroTitle{
    background-image: url('../../../image/titleLine.PNG');
    background-size: 100% 100%;
}

@media only screen and (max-width:400px){
    #selectTourList{
        float: right;
        margin-right: 10px;
    }
    #itemBox{
        text-align: center;
        border: 1px solid #eee;
        width: 150px;
        text-align: left;
    }
    #itemImg{
        width: 150px;
        height: 150px;
    }
    #itemTitle{
        font-size: 8pt;
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 10px;
        margin-top: 10px;
    }
    #itemContentDiv{
        font-size: 0.4em;
        margin-bottom: 10px;
        margin-left: 10px;
        margin-right: 10px;
    }
    #itemContent{
        height: 27px;
    }
    #itemLikes{
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 5px;
        padding-bottom: 5px;
    }
    #tourThumbIcon, #tourLocationIcon{
        font-size: 10pt;
    }
    #itemLikes{
        font-size: 7pt;
    }
    #itemAddr{
        font-size: 0.8em;
        width: 100px;
        text-align: right;
    }
    .tourIntroTitle{
        margin-top: 50px;
        margin-bottom: 20px;
        font-size: 15pt;
        font-weight: 700;
    }
    .tourIntroTitleContent{
        margin-left: 15px;
    }
    .tourIntroContent {
        margin: 0 25px;
        color: #999;
        line-height: 30px;
        font-size: 7pt;
    }
}
@media only screen and (min-width:400px) and (max-width:770px){
    #selectTourList{
        float: right;
        margin-right: 30px;
    }
    #itemBox{
        text-align: center;
        border: 1px solid #eee;
        width: 200px;
        text-align: left;
    }
    #itemImg{
        width: 190px;
        height: 190px;
    }
    #itemTitle{
        font-size: 10pt;
        margin-left: 12px;
        margin-right: 12px;
        margin-bottom: 12px;
        margin-top: 12px;
    }
    #itemContentDiv{
        /* font-size: 8pt; */
        font-size: 0.6em;
        margin-bottom: 11px;
        margin-left: 12px;
        margin-right: 12px;
    }
    #itemContent{
        height: 30px;
    }
    #itemLikes{
        padding-left: 12px;
        padding-right: 12px;
        padding-top: 6px;
        padding-bottom: 6px;
    }
    #tourThumbIcon, #tourLocationIcon{
        font-size: 12pt;
    }
    #itemLikes{
        font-size: 8pt;
    }
    #itemAddr{
        font-size: 0.8em;
        width: 140px;
        text-align: right;
    }
    .tourIntroTitle{
        margin-top: 50px;
        margin-bottom: 20px;
        font-size: 20pt;
        font-weight: 700;
    }
    .tourIntroTitleContent{
        margin-left: 50px;
    }
    .tourIntroContent {
        margin: 0 50px;
        color: #999;
        line-height: 30px;
        font-size: 10pt;
    }
}
@media only screen and (min-width:770px){
    #selectTourList{
        float: right;
        margin-right: 70px;
    }
    #itemBox{
        text-align: center;
        border: 1px solid #eee;
        width: 330px;
        margin-right: 50px;
        margin-bottom: 50px;
        margin-top: 30px;
        text-align: left;
    }
    #itemImg{
        width: 330px;
        height: 330px;
    }
    #itemTitle{
        font-size: 15pt;
        margin-left: 15px;
        margin-right: 15px;
        margin-bottom: 15px;
        margin-top: 15px;
    }
    #itemContentDiv{
        /* font-size: 13pt; */
        font-size: 0.9em;
        margin-bottom: 15px;
        margin-left: 15px;
        margin-right: 15px;
    }
    #itemContent{
        height: 42px;
    }
    #itemLikes{
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 8px;
        padding-bottom: 8px;
    }
    #tourThumbIcon, #tourLocationIcon{
        font-size: 15pt;
    }
    #itemLikes{
        font-size: 12pt;
    }
    #itemAddr{
        font-size: 0.8em;
        width: 250px;
        text-align: right;
    }
    .tourIntroTitle{
        margin-top: 50px;
        margin-bottom: 20px;
        font-size: 25pt;
        font-weight: 700;
    }
    .tourIntroTitleContent{
        margin-left: 80px;
    }
    .tourIntroContent {
        margin: 0 100px;
        color: #999;
        line-height: 30px;
    }
}

/* detailTour */
.detailTitle{
    background-image: url('../../../image/titleLine.PNG');
    background-size: 100% 100%;
}

@media only screen and (max-width:400px){
    .detailTitle{
        margin-top: 10px;
        font-size: 13pt;
        font-weight: 800;
    }
    .detailTitleContent{
        margin-left: 20px;
    }
}
@media only screen and (min-width:400px) and (max-width:770px){
    .detailTitle{
        margin-top: 50px;
        font-size: 18pt;
        font-weight: 700;
    }  
    .detailTitleContent{
        margin-left: 20px;
    }
}
@media only screen and (min-width:770px) and (max-width:1023px){
    .detailTitle{
        margin-top: 80px;
        font-size: 20pt;
        font-weight: 900;
    }
    .detailTitleContent{
        margin-left: 50px;
    }
}
@media only screen and (min-width:1023px){
    .detailTitle{
        margin-top: 100px;
        font-size: 25pt;
        font-weight: 900;
    }
    .detailTitleContent{
        margin-left: 80px;
    }
}