label {
    margin-bottom: 0;
}
#btnInsertReview{
    white-space: wrap;
}
#btnInsertBox{
    margin: 0 !important;
}
#detailReField{
    margin: 0 !important;
}
.thumbText {
    /* background-color: #333;
    opacity: 0.5; */
    background-color: rgba(0,0,0,0.5);
    text-align: center;
    position: absolute;
    transform: translate( -50%, -50% );
    display: table;
}
@media only screen and (max-width: 300px){
    #tourRiveiwTable{
        width: 100%;
        margin-left: 20px;
        margin-right: 20px;
        margin-top: 70px;
        margin-bottom: 100px;
        font-size: 8pt;
    }
    .tourReImg{
        width: 50px;
        height: 50px;
    }
    #srContent{
        width: 100%;
        height: 100px;
        font-size: 8pt;
    }
    #btnInsertReview{
        height: 100px;
        width: 100%;
        font-size: 6pt;
        margin-top: 24px;
    }
    .thumbStar{
        font-size: 15pt;
    }
    .thumbText {
        top: 20%;
        left: 67%;
        width: 170px;
        height: 100px;
        padding-top: 10px;
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 10px;
        /* max-height: 150px; */
        font-size: 6pt;
    }
    #thumbTitle{
        font-size: 10pt;
    }
    #thumbTag{
        font-size: 7pt;
    }
    #thumbStar{
        font-size: 7pt;
    }
    #thumbIntro{
        margin-top: 13px;
        font-size: 8pt;
        line-height: 20px;
        margin-bottom: 80px;
        margin-left: 30px;
        margin-right: 30px;
        text-align: center;
    }
    #thumbIntro button {
        padding: 5px 10px;
        font-size: 7pt;
    }
    #thumbRoad{
        font-size: 7pt;
    }
    /* #thumbHeart{
        font-size: 10pt;
        right: 15px;
        bottom: 15px;
    } */
    /* #thumbHeart{
        left: -150px;
        top: -10px;
    } */
    .spotheart {
        width: 80px;
        height: 80px;
    }
    .detailIntro{
        margin-top: 10px;
        margin-bottom: 20px;
        /* margin-left: 30px;
        margin-right: 30px; */
        font-size: 8pt;
        line-height: 20px;
        text-align: center;
    }

    /* 모달 */
    .spotmodalTitle {
        font-size: 14pt;
        font-weight: 700;
        line-height: 50px;
    }
    .spotpaper {
        padding: 30px;
        line-height: 25px;
        font-size: 8pt;
    }
    .spotmodalBtn {
        font-size: 8pt;
        margin-top: 10px;
    }
}
@media only screen and (min-width:300px) and (max-width:440px){
    #tourRiveiwTable{
        width: 90vw;
        margin: 70px auto;
        margin-bottom: 100px;
        font-size: 8pt;
    }
    .tourReImg{
        width: 50px;
        height: 50px;
    }
    #srContent{
        width: 200px;
        height: 100px;
        font-size: 8pt;
    }
    #btnInsertReview{
        height: 100px;
        width: 50px;
        font-size: 6pt;
        margin-top: 24px;
    }
    .thumbStar{
        font-size: 15pt;
    }
    .thumbText {
        top: 20%;
        left: 67%;
        width: 170px;
        height: 100px;
        padding-top: 10px;
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 10px;
        /* max-height: 150px; */
        font-size: 6pt;
    }
    #thumbTitle{
        font-size: 10pt;
    }
    #thumbTag{
        font-size: 7pt;
    }
    #thumbStar{
        font-size: 7pt;
    }
    #thumbIntro{
        margin-top: 13px;
        font-size: 8pt;
        line-height: 20px;
        margin-bottom: 80px;
        margin-left: 30px;
        margin-right: 30px;
        text-align: center;
    }
    #thumbIntro button {
        padding: 8px 13px;
        font-size: 8pt;
    }
    #thumbRoad{
        font-size: 7pt;
    }
    /* #thumbHeart{
        font-size: 10pt;
        right: 15px;
        bottom: 15px;
    } */
    /* #thumbHeart{
        left: -150px;
        top: -10px;
    } */
    /* .spotheart {
        width: 80px;
        height: 80px;
    } */
    #thumbAddBtn>span {
        font-size: 6pt;
    }
    #thumbAddBtn {
        padding: 0 !important;
        margin-top: 5px;
    }
    .detailIntro{
        margin-top: 10px;
        margin-bottom: 20px;
        /* margin-left: 30px;
        margin-right: 30px; */
        font-size: 8pt;
        line-height: 20px;
        text-align: center;
    }

    /* 모달 */
    .spotmodalTitle {
        font-size: 14pt;
        font-weight: 700;
        line-height: 50px;
    }
    .spotpaper {
        padding: 30px;
        line-height: 25px;
        font-size: 8pt;
    }
    .spotmodalBtn {
        font-size: 8pt;
        margin-top: 10px;
    }
}
@media only screen and (min-width:450px) and (max-width:770px){
    #tourRiveiwTable{
        width: 90vw;
        margin: 100px auto;
        margin-bottom: 100px;
        font-size: 10pt;
    }
    .tourReImg{
        width: 80px;
        height: 80px;
    }
    #srContent{
        width: 280px;
        height: 100px;
        font-size: 10pt;
    }
    #btnInsertReview{
        height: 100px;
        width: 50px;
        font-size: 10pt;
        margin-top: 23px;
    }
    .thumbText {
        top: 25%;
        left: 70%;
        width: 300px;
        height: 150px;
        padding-top: 20px;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 20px;
    }
    #thumbTitle{
        font-size: 15pt;
    }
    #thumbTag{
        font-size: 8pt;
    }
    #thumbStar{
        font-size: 9pt;
    }
    #thumbIntro{
        margin-top: 25px;
        font-size: 10pt;
        line-height: 23px;
        margin-bottom: 100px;
        margin-left: 50px;
        margin-right: 50px;
        text-align: center;
    }
    #thumbIntro button {
        padding: 10px 15px;
        font-size: 9pt;
    }
    #thumbRoad{
        font-size: 8pt;
    }
    /* #thumbHeart{
        font-size: 12pt;
        right: 20px;
        bottom: 20px;
    }
    #thumbHeart{
        right: -50px;
        bottom: -60px;
    }
    .spotheart {
        width: 90px;
        height: 90px;
    } */
    #thumbAddBtn>span {
        font-size: 8pt;
    }
    #thumbAddBtn {
        margin-top: 8px;
    }
    .detailIntro{
        margin-top: 20px;
        margin-bottom: 20px;
        /* margin-left: 50px;
        margin-right: 50px; */
        font-size: 10pt;
        line-height: 25px;
        text-align: center;
    }
      
    /* 모달 */
    .spotmodalTitle {
        font-size: 16pt;
        font-weight: 700;
        line-height: 50px;
    }
    .spotpaper {
        padding: 50px;
        line-height: 30px;
        font-size: 10pt;
    }
    .spotmodalBtn {
        font-size: 10pt;
        margin-top: 10px;
    }
}
@media only screen and (min-width:770px) and (max-width:1023px){
    #tourRiveiwTable{
        width: 90vw;
        margin: 120px auto;
        margin-bottom: 100px;
    }
    .tourReImg{
        width: 100px;
        height: 100px;
    }
    #srContent{
        width: 500px;
        height: 130px;
    }
    #btnInsertReview{
        height: 130px;
        width: 80px;
        margin-top: 29px;
    }
    .thumbText {
        top: 30%;
        left: 75%;
        width: 330px;
        height: 180px;
        padding-top: 30px;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 30px;
    }
    #thumbTitle{
        font-size: 18pt;
    }
    #thumbTag{
        font-size: 9pt;
    }
    #thumbStar{
        font-size: 10pt;
    }
    #thumbIntro{
        margin-top: 25px;
        font-size: 11pt;
        line-height: 25px;
        margin-bottom: 150px;
        margin-left: 80px;
        margin-right: 80px;
        text-align: center;
    }
    #thumbIntro button {
        font-size: 11pt;
    }
    #thumbRoad{
        font-size: 9pt;
    }
    /* #thumbHeart{
        font-size: 13pt;
        right: 20px;
        bottom: 20px;
    }
    #thumbHeart{
        right: -60px;
        bottom: -60px;
    }
    .spotheart {
        width: 100px;
        height: 100px;
    } */
    #thumbAddBtn>span {
        font-size: 10pt;
    }
    #thumbAddBtn {
        margin-top: 10px;
    }
    .detailIntro{
        margin-top: 20px;
        margin-bottom: 40px;
        /* margin-left: 80px;
        margin-right: 80px; */
        font-size: 11pt;
        line-height: 30px;
        text-align: center;
    }

    /* 모달 */
    .spotmodalTitle {
        font-size: 16pt;
        font-weight: 700;
        line-height: 50px;
    }
    .spotpaper {
        padding: 50px;
        line-height: 30px;
        font-size: 10pt;
    }
    .spotmodalBtn {
        font-size: 10pt;
        margin-top: 10px;
    }
}
@media only screen and (min-width:1023px){
    #tourRiveiwTable{
        width: 90vw;
        margin: 150px auto;
    }
    .tourReImg{
        width: 100px;
        height: 100px;
    }
    #srContent{
        width: 600px;
        height: 150px;
    }
    #btnInsertReview{
        height: 150px;
        width: 100px;
        margin-top: 29px;
    }
    .thumbText {
        top: 35%;
        left: 75%;
        width: 450px;
        height: 200px;
        padding-top: 40px;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 40px;
    }
    #thumbTitle{
        font-size: 23pt;
    }
    #thumbTag{
        font-size: 10pt;
    }
    #thumbStar{
        font-size: 12pt;
    }
    #thumbIntro{
        line-height: 30px;
        margin-top: 20px;
        margin-bottom: 150px;
        margin-left: 100px;
        margin-right: 100px;
        font-size: 13pt;
        text-align: center;
    }
    #thumbIntro button {
        font-size: 11pt;
    }
    #thumbRoad{
        font-size: 10pt;
    }
    /* #thumbHeart{
        right: -10px;
        bottom: -10px;
    }
    .spotheart {
        width: 100px;
        height: 100px;
    } */
    #thumbAddBtn {
        margin-top: 10px;
    }
    .detailIntro{
        margin-top: 20px;
        margin-bottom: 50px;
        /* margin-left: 100px;
        margin-right: 100px; */
        font-size: 13pt;
        line-height: 30px;
        text-align: center;
    }

    /* 모달 */
    .spotmodalTitle {
        font-size: 16pt;
        font-weight: 700;
        line-height: 50px;
    }
    .spotpaper {
        padding: 50px;
        line-height: 30px;
        font-size: 10pt;
    }
    .spotmodalBtn {
        font-size: 10pt;
        margin-top: 10px;
    }
}
/* heart 애니메이션 */
.spotheart {
    transform: translate(-50%, -50%);
    background: url(https://cssanimation.rocks/images/posts/steps/heart.png) no-repeat;
    background-position: 0 0;
    cursor: pointer;
    /* animation: fave-heart 1s steps(28); */
  }
  .spotclickheart {
    background-position: -2800px 0;
    transition: background 1s steps(28);
  }
@keyframes fave-heart {
    0% {
      background-position: 0 0;
    }
    100% {
      background-position: -2800px 0;
    }
  }

/* 모달 */
.spotmodal {
    display: flex;
    align-items: center;
    justify-content: center;
  }
.spotpaper {
    background-color: #fff;
    border: 2px solid #000;
    box-shadow: 5;
}
  