/*body {*/
/*    margin: 0;*/
/*    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',*/
/*    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',*/
/*    sans-serif;*/
/*    -webkit-font-smoothing: antialiased;*/
/*    -moz-osx-font-smoothing: grayscale;*/
/*}*/

/*code {*/
/*    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',*/
/*    monospace;*/
/*}*/

/*BMHANNAPro.ttf*/
@font-face {
    font-family: "NotoSans-Medium";
    src: url("font/NotoSans-Medium.ttf") format("truetype");
    font-style: auto;
}

body {
    font-family: NotoSans-Medium;
    font-size: 16px;
}

::-webkit-scrollbar{width: 5px; height: 5px;}
/* ::-webkit-scrollbar-track {background-color:#f1f1f1;} */
::-webkit-scrollbar-thumb {background-color:#ddd;border-radius: 10px;}
::-webkit-scrollbar-thumb:hover {background: #555;}
/* ::-webkit-scrollbar-button:start:decrement,::-webkit-scrollbar-button:end:increment {
width:16px;height:16px;background:#f1ef79;}  */