/*body {*/
/*    margin: 0;*/
/*    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',*/
/*    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',*/
/*    sans-serif;*/
/*    -webkit-font-smoothing: antialiased;*/
/*    -moz-osx-font-smoothing: grayscale;*/
/*}*/

/*code {*/
/*    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',*/
/*    monospace;*/
/*}*/

/*BMHANNAPro.ttf*/
@font-face {
    font-family: "BMHANNAPro";
    src: url("font/BMHANNAPro.ttf") format("truetype");
    font-style: normal;
    font-width: normal;
}

body {
    font-family: BMHANNAPro;
    font-size: 20px;
}
