* {
    margin: 0;
    padding: 0;
}

button {
    background-color: #FFBB00;
    font-size: 0.9em;
    color: #000;
    padding: 3px;
    margin: 3px;
}

div.containerRoot {
    width: 900px;
}

div.container {
    width: 400px;
    margin: 0 auto;
    padding: 25px
}

div.container .backButton {
    transform: scale(1.7);
}

div.container .backButton:hover {
    cursor: pointer;
    transform: scale(2.0);
}

div.container h3 {
    text-align: left;
    padding: 5px 5px 5px 15px;
    color: #FFBB00;
    border-left: 3px solid #FFBB00;
    margin-bottom: 20px;
}

div.roomContainer {
    background-color: #F6F6F6;
    height: 550px;
    overflow: auto;
    padding: 5px;
    text-align: center;
}

/*Chatting Lobby insert chattingRoom*/
table.inputTable {
    width: 100%;
}

table.inputTable th {
    padding: 5px;
    font-size: 1.0em;
}

table.inputTable th:nth-child(1) {
    width: 30%;
}

table.inputTable th:nth-child(2) {
    width: auto;
}

table.inputTable th:nth-child(3) {
    width: 30%;
}

table.inputTable input {
    /*width: auto;*/
    height: 30px;
}


/*Chatting Room List in Lobby*/
div.roomList {
    border: none;
    width: 100%;
}

div.roomList table {
    width: 100%;
    margin-bottom: 10px;
}

div.roomList th, table.roomList td {
    /*border: 1px solid #FFBB00;*/
    background-color: #fff;
    color: #FFBB00;
    text-align: center;
    font-size: 1.2em;
    padding: 5px;
}

div.roomList tr.room {
    cursor: pointer;
}

div.roomList th.profileImg {
    width: 20%;
}

div.roomList th.profileImg img.profileImg {
    height: 50px;
    width: 50px;
    border-radius: 15px;
}

div.roomList th.room {
    width: 60%;
    text-align: left;
    color: black;
    font-size: 15px;
}

div.roomList th.room div {
    max-width: 190px;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0 5px;
    white-space: nowrap;
}

div.roomList th.room div b {
    font-size: 17px;
}

div.roomList th.go {
    width: 30%;
}

div.roomList th.go div.etc {
    display: flex;
    flex-direction: column-reverse;
    color: black;
    font-size: 15px;
    align-items: flex-end;
    height: 50px;
}

div.roomList th.go div.etc div.newMsgCnt {
    height: 20px;
    border-radius: 20px;
    background-color: red;
    color: white;
}

div.roomList th.go div.etc div.lastWriteDay {
    margin-top: 5px;
}

div.roomList tr {
    padding-top: 20px;
}

div.roomList td {
    /*border: 1px solid #FFBB00;*/
    background-color: #fff;
    text-align: left;
    color: #FFBB00;
}


/*chattingBoard in chattingRoom with someone*/
div.container div#chattingBoard {
    width: 100%;
    height: 505px;
    background-color: #b5cad4;
    padding: 10px;
    overflow: auto;
}

div.container div#chattingBoard div.formMsg {
    width: 100%;
    height: auto;
    min-height: 50px;
    /*border: 1px solid black;*/
    display: inline-block;
}

div.container div#chattingBoard div.formMsg img.profileImg {
    height: 50px;
    width: 50px;
    float: left;
    border-radius: 15px;
    margin-right: 10px;
}

div.container div#chattingBoard div.otherMsg div.msgText {
    min-width: 50px;
    max-width: 210px;
    /*float: left;*/
    background-color: white;
    /*margin-top: 20px;*/
    /*margin-left: 10px;*/
}

div.container div#chattingBoard div.myMsg div.msgText {
    min-width: 30px;
    max-width: 230px;

    /*float: right;*/
    background-color: #f5dd0f;
    margin-top: 10px;
    margin-right: 10px;
}

div.container div#chattingBoard div.myMsg div.msgTime {
    /*float: right;*/
}

div.container div#chattingBoard div.myMsg td.myMsgBox {
    text-align: left;
    width: 328px;
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;
}

div.container div#chattingBoard div.msgText {
    /*text-align: center;*/
    padding: 7px;
    min-height: 30px;
    word-break: break-all;
    border-radius: 10px;
    /*border: 1px solid black;*/
    box-shadow: 2px 2px 1px gray;
}

div.container div#chattingBoard div.msgText b {
    width: auto;
}



