.react-body {
    margin:0;
    padding:0;
    background-color:#fff;
    text-align: center;
    
}


.share-slide-list-bar {
    display: flex;
    text-align: center;
    vertical-align: middle;
    /* padding: 0 10%; */
}


/*말풍선*/


/* .arrow_box {
	position: relative;
	background: #88b7d5;
    border: 4px solid #c2e1f5;
   
}
.arrow_box:after, .arrow_box:before {
	right: 100%;
	top: 50%;
	border: solid transparent;
	content: "";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.arrow_box:after {
	border-color: rgba(136, 183, 213, 0);
	border-right-color: #88b7d5;
	border-width: 30px;
	margin-top: -30px;
}
.arrow_box:before {
	border-color: rgba(194, 225, 245, 0);
	border-right-color: #c2e1f5;
	border-width: 36px;
	margin-top: -36px;
} */

 .arrow_box {
    position: positive;
    width: 368px;
    height: 118px;
    left: 130px;
    bottom: 235px;
    text-align: center;
    border-radius: 10px;
  } 
  
   .comment_logo {
     color: #ddf8c6;
    text-align: center;
    font-size: 20px;
    line-height: 54px;
    font-weight: bold;
    text-transform: uppercase; 
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
  }
  
  


@media only screen and (max-width:450px){
    .react-body {
        margin: 100px 0;
        
    }
    /*달력*/
    .wishday{
        width: 40vw !important;
        margin: 10px auto;  
        font-size: 0.6rem !important;
    }
    
    .SharePlanSlideTitle {
        font-size: 0.7rem;
    }
    .SharePlanTimeline {
        height: 250px;
        overflow-y: scroll;
        margin: 0 auto;
        font-size: 0.6rem;
    }
    .share-slide-list-bar .share-slide-list-box {
        width: 85vw;
        height: auto;
        /* overflow-y: scroll; */
        position: relative;
        margin: 20px auto;
        padding: 10px 10px;
        border: 0.1px solid #eee;
        border-top: 1px solid green;
        /* border-radius: 20%; */
        /* box-shadow: 4px 2px 2px gray; */
    }
    
    .share-slide-list-box .slick-prev:before { 
        position: relative;
        color: black;  
        left: 80px;
        top: -190px;
        font-size: 15px;
        /* display: block; */
    } 
    .share-slide-list-box .slick-next::before {
        position: relative;
        left: -80px;
        /* right: 50px; */
        top: -190px;
        color: black;
        font-size: 15px;
        /* display: block; */
        
    }   
    .SharePlanBox {
        margin-top: 20px;
    }
    .SharePlanProfile img {
        width: 60px;
        height: 60px;
        margin: 0 auto;
        border-radius: 50%;
        border: 0.1px solid #eee;
    }
    .SharePlanProfile {
        width: 80vw;
        font-size: 0.8rem;
        /* margin: 70px 70px 0 100px; */
        /* text-align: left; */
    }
    .SharePlanProfile2 {
        width: 80vw;
    }
    .SharePlanProfile div {
        text-align: center;
    }
    .shareplanSlideTitle {
        margin-top: 60px;
        font-size: 0.6rem;
    }

    /* 말풍선 */
    .balloon {  
        position:relative; 
        margin: 30px auto;
        padding: 10px;
        width: 240px;
        font-size: 0.7rem; 
        min-height:70px;
        background:#036E38; 
        border-radius: 10px;
        color: white;
    }
    .balloon:after { 
        border-top:0px solid transparent; 
        border-left: 10px solid transparent; 
        border-right: 10px solid transparent; 
        border-bottom: 10px solid #036E38; 
        content: "";
        position: absolute;
        top: -9px;
        left: 100px;
    }
    .balloon div {
        margin: auto 0;
    }  

    /* 테이블 */
    .SharePlanTableBox {
        width: 90vw;
    }
    .SharePlanTableProfile {
        width: 85vw;
        height: 250px;
        border: 0.1px solid #eee;
        padding: 10px;
        margin: 30px 15px;
        border-top: 2px solid green;
    }
    .SharePlanTableProfile > div{
        font-size: 0.8rem;
    }
    .SharePlanTooltipImg {
        width: 50px;
        height: 50px;
    }
    .SharePlanTableTimeline {
        margin: 15px 0;
        height: 150px;
        overflow-y: scroll;
    }
    .SharePlanTooltipComment {
        margin-top: 10px;
        font-size: 1rem;
        line-height: 20px;
    }
}
@media only screen and (min-width:450px) and (max-width:770px){
    /*달력*/
    .wishday{
        width: 20vw !important;
        margin: 10px auto;  
        font-size: 0.7rem !important;
    }
    
    .SharePlanSlideTitle {
        font-size: 0.8rem;
    }
    .SharePlanTimeline {
        height: 250px;
        overflow-y: scroll;
        margin: 0 auto;
        font-size: 0.8rem;
        padding: 0 !important;
    }
    .SharePlanTimeline .MuiTimelineContent-root {
        padding-right: 0 !important;
    }
    .share-slide-list-bar .share-slide-list-box {
        width: 85vw;
        height: 400px;
        /* overflow-y: scroll; */
        position: relative;
        margin: 30px auto;
        padding: 10px 10px;
        border: 0.1px solid #eee;
        border-top: 1px solid green;
        /* border-radius: 20%; */
        /* box-shadow: 4px 2px 2px gray; */
    }
    
    .share-slide-list-box .slick-prev:before { 
        position: relative;
        color: black;  
        left: -13px;
        top: 0px;
        font-size: 15px;
        /* display: block; */
    } 
    .share-slide-list-box .slick-next::before {
        position: relative;
        left: 14px;
        /* right: 50px; */
        top: 0px;
        color: black;
        font-size: 15px;
        /* display: block; */
        
    }   
    .SharePlanBox {
        margin-top: 20px;
    }
    .SharePlanProfile img {
        width: 50px;
        height: 50px;
        margin: 0 auto;
        border-radius: 50%;
        border: 0.1px solid #eee;
    }
    .SharePlanProfile {
        width: 30vw;
        font-size: 0.7rem;
        /* margin: 70px 70px 0 100px; */
        /* text-align: left; */
    }
    .SharePlanProfile2 {
        width: 47vw;
    }
    .SharePlanProfile div {
        text-align: center;
    }
    .shareplanSlideTitle {
        margin-top: 80px;
        font-size: 0.8rem;
    }

    /* 말풍선 */
    .balloon {  
        position:relative; 
        margin: 30px auto;
        padding: 10px;
        width: 150px;
        font-size: 0.8rem; 
        min-height:70px;
        background:#036E38; 
        border-radius: 10px;
        color: white;
    }
    .balloon:after { 
        border-top:0px solid transparent; 
        border-left: 10px solid transparent; 
        border-right: 10px solid transparent; 
        border-bottom: 10px solid #036E38; 
        content: "";
        position: absolute;
        top: -10px;
        left: 50px;
    }
    .balloon div {
        margin: auto 0;
    }  

    /* 테이블 */
    .SharePlanTableBox {
        width: 90vw;
    }
    .SharePlanTableProfile {
        width: 40vw;
        height: 250px;
        border: 0.1px solid #eee;
        padding: 10px;
        margin: 30px 15px;
        border-top: 2px solid green;
    }
    .SharePlanTableProfile > div{
        font-size: 0.8rem;
    }
    .SharePlanTooltipImg {
        width: 50px;
        height: 50px;
    }
    .SharePlanTableTimeline {
        margin: 15px 0;
        height: 150px;
        overflow-y: scroll;
    }
    .SharePlanTooltipComment {
        margin-top: 10px;
        font-size: 1rem;
        line-height: 20px;
    }
}
@media only screen and (min-width:770px) and (max-width:1023px){
    /*달력*/
    .wishday{
        width: 20vw !important;
        margin: 10px auto;  
        font-size: 0.9rem !important;
    }
    
    .SharePlanSlideTitle {
        font-size: 0.9rem;
    }
    .SharePlanTimeline {
        height: 250px;
        overflow-y: scroll;
        margin: 0 auto;
        font-size: 0.8rem;
    }
    .share-slide-list-bar .share-slide-list-box {
        width: 80vw;
        height: 400px;
        /* overflow-y: scroll; */
        position: relative;
        margin: 30px auto;
        padding: 30px 30px;
        border: 0.1px solid #eee;
        border-top: 2px solid green;
        /* border-radius: 20%; */
        /* box-shadow: 4px 2px 2px gray; */
    }
    
    .share-slide-list-box .slick-prev:before { 
        position: relative;
        color: black;  
        left: -50px;
        top: -40px;
        font-size: 20px;
        /* display: block; */
    } 
    .share-slide-list-box .slick-next::before {
        position: relative;
        left: 50px;
        /* right: 50px; */
        top: -40px;
        color: black;
        font-size: 20px;
        /* display: block; */
        
    }   
    .SharePlanBox {
        margin-top: 20px;
    }
    .SharePlanProfile img {
        width: 60px;
        height: 60px;
        margin: 0 auto;
        border-radius: 50%;
        border: 0.1px solid #eee;
    }
    .SharePlanProfile {
        width: 30vw;
        font-size: 0.8rem;
        /* margin: 70px 70px 0 100px; */
        /* text-align: left; */
    }
    .SharePlanProfile2 {
        width: 40vw;
    }
    .SharePlanProfile div {
        text-align: center;
    }
    .shareplanSlideTitle {
        margin-top: 100px;
        font-size: 0.9rem;
    }

    /* 말풍선 */
    .balloon {  
        position:relative; 
        margin: 30px auto;
        padding: 10px;
        width:200px;
        font-size: 0.8rem; 
        min-height:70px;
        background:#036E38; 
        border-radius: 10px;
        color: white;
    }
    .balloon:after { 
        border-top:0px solid transparent; 
        border-left: 10px solid transparent; 
        border-right: 10px solid transparent; 
        border-bottom: 10px solid #036E38; 
        content: "";
        position: absolute;
        top: -10px;
        left: 90px;
    }
    .balloon div {
        margin: auto 0;
    }  
    
    /* 테이블 */
    .SharePlanTableBox {
        width: 70vw;
    }
    .SharePlanTableProfile {
        width: 300px;
        height: 250px;
        border: 0.1px solid #eee;
        padding: 15px;
        margin: 50px 20px;
        border-top: 2px solid green;
    }
    .SharePlanTooltipImg {
        width: 50px;
        height: 50px;
    }
    .SharePlanTableTimeline {
        margin: 20px 0;
        height: 150px;
        overflow-y: scroll;
    }
    .SharePlanTooltipComment {
        margin-top: 10px;
        font-size: 1rem;
        line-height: 20px;
    }
}
@media only screen and (min-width:1023px) and (max-width:1500px){
    /*달력*/
    .wishday{
        width: 20vw !important;
        margin: 10px auto;  
    }
    
    .SharePlanTimeline {
        height: 300px;
        overflow-y: scroll;
        margin: 0 auto;
    }
    .share-slide-list-bar .share-slide-list-box {
        width: 70vw;
        height: 500px;
        /* overflow-y: scroll; */
        position: relative;
        margin: 50px auto;
        padding: 50px 50px;
        border: 0.1px solid #eee;
        border-top: 2px solid green;
        /* border-radius: 20%; */
        /* box-shadow: 4px 2px 2px gray; */
    }
    
    .share-slide-list-box .slick-prev:before { 
        position: relative;
        color: black;  
        left: -90px;
        top: -40px;
        font-size: 30px;
        /* display: block; */
    } 
    .share-slide-list-box .slick-next::before {
        position: relative;
        left: 90px;
        /* right: 50px; */
        top: -40px;
        color: black;
        font-size: 30px;
        /* display: block; */
        
    }   
    .SharePlanBox {
        margin-top: 20px;
    }
    .SharePlanProfile img {
        width: 100px;
        height: 100px;
        margin: 0 auto;
        border-radius: 50%;
        border: 0.1px solid #eee;
    }
    .SharePlanProfile {
        width: 25vw;
        /* margin: 70px 70px 0 100px; */
        /* text-align: left; */
    }
    .SharePlanProfile2 {
        width: 35vw;
    }
    .SharePlanProfile div {
        text-align: center;
    }
    .shareplanSlideTitle {
        margin-top: 100px;
    }

    /* 말풍선 */
    .balloon {  
        position:relative; 
        margin: 30px auto;
        padding: 10px;
        width:250px; 
        min-height:70px;
        background:#036E38; 
        border-radius: 10px;
        color: white;
    }
    .balloon:after { 
        border-top:0px solid transparent; 
        border-left: 10px solid transparent; 
        border-right: 10px solid transparent; 
        border-bottom: 10px solid #036E38; 
        content: "";
        position: absolute;
        top: -10px;
        left: 130px;
    }
    .balloon div {
        margin: auto 0;
    }

    /* 테이블 */
    .SharePlanTableBox {
        width: 70vw;
    }
    .SharePlanTableProfile {
        width: 350px;
        height: 300px;
        border: 0.1px solid #eee;
        padding: 15px;
        margin: 50px 20px;
        border-top: 2px solid green;
    }
    .SharePlanTooltipImg {
        width: 50px;
        height: 50px;
    }
    .SharePlanTableTimeline {
        margin: 20px 0;
        height: 200px;
        overflow-y: scroll;
    }
    .SharePlanTooltipComment {
        margin-top: 10px;
        font-size: 1rem;
        line-height: 20px;
    }
}
@media only screen and (min-width:1500px){
    /*달력*/
    .wishday{
        width: 20vw !important;
        margin: 10px auto;  
    }
    
    .SharePlanTimeline {
        height: 300px;
        overflow-y: scroll;
        margin: 0 auto;
    }
    .share-slide-list-bar .share-slide-list-box {
        width: 60vw;
        height: 500px;
        /* overflow-y: scroll; */
        position: relative;
        margin: 50px auto;
        padding: 50px 70px;
        border: 0.1px solid #eee;
        border-top: 1px solid green;
        /* box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19) !important; */
        /* border-radius: 20%; */
        /* box-shadow: 4px 2px 2px gray; */
    }
    
    .share-slide-list-box .slick-prev:before { 
        position: relative;
        color: black;  
        left: -90px;
        top: -40px;
        font-size: 30px;
        /* display: block; */
    } 
    .share-slide-list-box .slick-next::before {
        position: relative;
        left: 90px;
        /* right: 50px; */
        top: -40px;
        color: black;
        font-size: 30px;
        /* display: block; */
        
    }   
    .SharePlanBox {
        margin-top: 20px;
    }
    .SharePlanProfile img {
        width: 100px;
        height: 100px;
        margin: 0 auto;
        border-radius: 50%;
        border: 0.1px solid #eee;
    }
    .SharePlanProfile {
        width: 20vw;
        /* margin: 70px 70px 0 100px; */
        /* text-align: left; */
    }
    .SharePlanProfile2 {
        width: 30vw;
    }
    .SharePlanProfile div {
        text-align: center;
    }
    .shareplanSlideTitle {
        margin-top: 100px;
    }

    /* 말풍선 */
    .balloon {  
        position:relative; 
        margin: 30px auto;
        padding: 10px;
        width:300px; 
        min-height:70px;
        background:#036E38; 
        border-radius: 10px;
        color: white;
    }
    .balloon:after { 
        border-top:0px solid transparent; 
        border-left: 10px solid transparent; 
        border-right: 10px solid transparent; 
        border-bottom: 10px solid #036E38; 
        content: "";
        position: absolute;
        top: -10px;
        left: 130px;
    }
    .balloon div {
        margin: auto 0;
    }

    /* 테이블 */
    .SharePlanTableBox {
        width: 70vw;
    }
    .SharePlanTableProfile {
        width: 350px;
        height: 300px;
        border: 0.1px solid #eee;
        padding: 15px;
        margin: 50px 20px;
        border-top: 2px solid green;
    }
    .SharePlanTooltipImg {
        width: 50px;
        height: 50px;
    }
    .SharePlanTableTimeline {
        margin: 20px 0;
        height: 200px;
        overflow-y: scroll;
    }
    .SharePlanTooltipComment {
        margin-top: 10px;
        font-size: 1rem;
        line-height: 20px;
    }
}



