.react-body {
    margin:0;
    padding:0;
    background-color:#fff;
    text-align: center;
    
}

.slide-list-bar {
    display: flex;
    text-align: center;
    vertical-align: middle;
    padding: 0 10%;
}

.slide-list-bar .slide-list-box {
    width: 40%;
    height: auto;
    position: relative;
    margin: 0 auto;
    
    
    
    
}




 .slick-prev:before { 
    position: relative;
    color: black;  
    left: -70px;
    font-size: 30px;
    display: block;
} 
.slick-next::before {
    position: relative;
    left: 30px;
    color: black;
    font-size: 30px;
    display: block;
    
}   

/*달력*/

.wishday{
    width: 200px;
}

/*말풍선*/


.arrow_box {
	position: relative;
	background: #88b7d5;
    border: 4px solid #c2e1f5;
   
}
.arrow_box:after, .arrow_box:before {
	right: 100%;
	top: 50%;
	border: solid transparent;
	content: "";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.arrow_box:after {
	border-color: rgba(136, 183, 213, 0);
	border-right-color: #88b7d5;
	border-width: 30px;
	margin-top: -30px;
}
.arrow_box:before {
	border-color: rgba(194, 225, 245, 0);
	border-right-color: #c2e1f5;
	border-width: 36px;
	margin-top: -36px;
}

/* .arrow_box {
    position: fixed;
    width: 368px;
    height: 118px;
    left: 14px;
    top: 65px;
    text-align: center;
    border-radius: 10px;
  } */
  
   .comment_logo {
     color: #ddf8c6;
    text-align: center;
    font-size: 24px;
    line-height: 44px;
    font-weight: bold;
    text-transform: uppercase; 
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
  }  






