@media only screen and (max-width:400px){
    div#mypageInfo {
        padding: 10px 10px 10px 10px;
        /* height: 300px; */
        margin-top: 80px;
    }
    p#mypageInfoTitle{
        font-weight: 900;
        font-size: 13pt;
    }
    td.mypageInfoCol {
        padding: 10px; 
        line-height: 15px;
        font-size: 6pt;
    }
    img#mypageUserImg {
        width: 40px;
        height: 40px;
        border: 1px solid #ddd;
        border-radius: 100%;
    }
    button#mypageInfoBtn {
        top: 10px;
        right: 10px;
        background-color: #fff;
        font-size: 5pt;
    }
    div#mypageInfo>table {
        width: 100%; 
        border-spacing: 5px;
        border-collapse: inherit;
    }
    span.mypageInfoSubtitle {
        font-size: 8pt;
        font-weight: 900;
    }
    span.mypageInfoSubContent {
        font-size: 6pt;
        line-height: 40px;
        color: #aaa;
    }
}
@media only screen and (min-width:400px) and (max-width:770px){
    div#mypageInfo {
        padding: 20px 30px 20px 30px;
        /* height: 300px; */
        margin-top: 100px;
    }
    p#mypageInfoTitle{
        font-weight: 900;
        font-size: 18pt;
    }
    td.mypageInfoCol {
        padding: 15px; 
        line-height: 20px;
        font-size: 8pt;
    }
    img#mypageUserImg {
        width: 90px;
        height: 90px;
        border: 1px solid #ddd;
        border-radius: 100%;
    }
    button#mypageInfoBtn {
        top: 20px;
        right: 30px;
        background-color: #fff;
        font-size: 8pt;
    }
    div#mypageInfo>table {
        width: 100%; 
        border-spacing: 10px;
        border-collapse: inherit;
    }
    span.mypageInfoSubtitle {
        font-size: 10pt;
        font-weight: 900;
    }
    span.mypageInfoSubContent {
        font-size: 8pt;
        line-height: 50px;
        color: #aaa;
    }
}
@media only screen and (min-width:770px) and (max-width:1023px){
    div#mypageInfo {
        padding: 20px 50px 20px 50px;
        /* height: 300px; */
        margin-top: 100px;
    }
    p#mypageInfoTitle{
        font-weight: 900;
        font-size: 20pt;
    }
    td.mypageInfoCol {
        padding: 10px; 
        line-height: 25px;
        font-size: 10pt;
    }
    img#mypageUserImg {
        width: 100px;
        height: 100px;
        border: 1px solid #ddd;
        border-radius: 100%;
    }
    button#mypageInfoBtn {
        top: 20px;
        right: 50px;
        background-color: #fff;
        font-size: 8pt;
    }
    div#mypageInfo>table {
        width: 100%; 
        border-spacing: 15px;
        border-collapse: inherit;
    }
    span.mypageInfoSubtitle {
        font-size: 12pt;
        font-weight: 900;
    }
    span.mypageInfoSubContent {
        font-size: 10pt;
        line-height: 50px;
        color: #aaa;
    }
}
@media only screen and (min-width:1023px){
    div#mypageInfo {
        padding: 20px 80px 20px 80px;
        /* height: 400px; */
        margin-top: 150px;
    }
    p#mypageInfoTitle{
        font-weight: 900;
        font-size: 25pt;
    }
    td.mypageInfoCol {
        padding: 20px; 
        line-height: 30px;
    }
    img#mypageUserImg {
        width: 150px;
        height: 150px;
        border: 1px solid #ddd;
        border-radius: 100%;
    }
    button#mypageInfoBtn {
        top: 20px;
        right: 80px;
        background-color: #fff;
    }
    div#mypageInfo>table {
        width: 100%; 
        border-spacing: 20px;
        border-collapse: inherit;
    }
    span.mypageInfoSubtitle {
        font-size: 15pt;
        font-weight: 900;
    }
    span.mypageInfoSubContent {
        font-size: 13pt;
        line-height: 70px;
        color: #aaa;
    }
    .MuiTab-root {
        font-weight: 900;
        font-size: 20pt !important;
    }
}