*{
    margin: 0;
}

.test-layout{
    
}
/* this test-layout class for test it will be terminated */

.RCA-app-container{
    display: flex;
    flex-direction: column;
    width: 90vw;
    height: 80vh;
    /* border: 1px solid #ddd; */
    margin: 100px auto;
    margin-bottom: 200px;
}
.RCA-app-container button{
    width: 100px;
    
}


/* header */
.RCA-header-container{
    /* flex-basis: 50px; */
    background-color: white;
    /* display: flex; */
    width: 100%;
}
.move-button{
    width: 40px;
    height: 40px;
}
.icon{
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;   
}
.RCA-header-Title {
    padding: 10px;
    font-size: 1.2rem;
}
.RCA-header-middle{
    line-height: 50px;
    display: inline-block;
    /* margin: 0 auto !important; */
}
.RCA-header-list{
    cursor: pointer;
}
.RCA-title-year {
    margin-right: 15px;
    color: #aaa;
    font-weight: 100;
}
.RCA-title-month {
    margin-left: 15px;
    color: #aaa;
    font-weight: 100;
}
.move {
    margin: 0 10px;
    font-size: 3rem !important;
    font-weight: 900;
}
.RCA-header-calendarYM{
    box-sizing: border-box;
    padding-left: 5px;
    flex-grow: 1;
}

.RCA-header-buttons{
    /* flex-basis: 120px; */
    /* padding-left: 0; */
    /* padding-top: 4px; */
    /* display: block; */
    list-style-type: none;
    margin: 10px;
}

.RCA-header-buttons li{
    float: left;
    height: 40px;
    line-height: 40px;
    font-size: 20px;
}

/* calendar component */

.RCA-calendar-container{
    flex-grow: 1;
    /* background-color:  rgb(127, 184, 127);  */
    display: flex;
    flex-direction: column;
}

/* calendar-header */

.RCA-calendar-date-header{
    display: flex;
    height: 50px;
    background-color: white;
}


.RCA-calendar-date-component{
    width: 14.2857143%;
    text-align: center;
    box-sizing: border-box;
    /* background-color: rgb(107, 107, 108); */
    /* border: 0.1px solid white; */
    /* border-bottom: 0.1px solid #ddd; */
    font-size : 1.2rem;
    line-height: 50px;
}

.RCA-calendar-date-component:nth-child(odd){
    border-left : none;
    border-right: none;
}

.date-weekday{
    /* color : rgba(255, 255, 255, 0.603); */
    color: #ccc;
    border-bottom: 0.1px solid #ddd;
}

.date-sun{
    color: tomato;
    border-bottom: 0.1px solid #ddd;
}

.date-sat{
    color: skyblue;
    border-bottom: 0.1px solid #ddd;
}

/* calendar */
.RCA-calendar-day-container{
    flex-grow: 1;
    display : flex;
    flex-wrap: wrap;
}

.RCA-calendar-day{
    box-sizing: border-box;
    position: relative;
    flex-basis: 14.2857143%;
    border: 0.1px solid #ddd;
    border-top: none;
    background-color: white;
    height: 100px;
    overflow-y: auto;
    font-size: 0.8rem;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 30px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow-x:auto;
}

.RCA-calendar-week{
    display: flex;
    flex-grow: 1;
}

.RCA-calendar-day:nth-child(odd){
    border-left : none;
    border-right: none;
}

.RCA-calendar-day-label{
    display: inline-block;
    font-size: 1rem;
    position: absolute;
    text-align: center;
    line-height: 25px;
    top : 5px;
    right: 5px;
}

.date-weekday-label{
    color : rgb(71, 71, 71)
}

.date-notThisMonth{
    color: rgb(255, 255, 255);
}



.selected label{
    font-size: 1.2rem;
    color: white;
    width: 25px;
    height: 25px;
    background-color: rgb(224, 62, 42);
    border-radius: 100%;
}

div.category{
    display: inline-block;
    position: absolute;
    right: 80px;
    line-height: 95px;
    color: darkslategray;
    
}

div.title{
    color: black;
    display: inline-block;
    position: absolute;
    /* line-height: 30px; */
    padding-top: 20px;
    right: 25px;
    font-size: 12px;
}

.calModal {
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.calPaper {
    background-color: #fff;
    border: 2px solid #000;
    width: 500px;
    height: 500px;
    /* boxShadow: theme.shadows[5],
    padding: theme.spacing(2, 4, 3), */
}

#transition-modal-title{
    text-align: center;
}

.addlistpaper{
    background-color: #fff;
    border: 2px solid #000;
    width: 400px;
    height: 450px;
}

.addlistmodal{
    width: 500px;
    height: 600px;
    background-color: #fff;
    border: 2px solid #000;
}

#addschedule{
        text-align: center;
       position: relative;
       left: 60px;
       
        
        color: lightsalmon;
        text-shadow: wheat;
        font-weight: 600;
        font-size: 1.2em;
}

#addwish{
    position: relative;
    left: 80px;
    
}

#addtitle{
    top: 40px;
    position: relative;
    left: 60px;
    color: lightsalmon;
    text-shadow: wheat;
    font-weight: 600;
    font-size: 1.2em;
}

#addcontent{
    position: relative;
    left: 120px;
}

input{
    margin-top: 7px;
}

.myPlanpagesRoot {
    display: flex;
    /* flex-wrap: wrap; */
    /* width: 500px; */
    overflow-x: scroll;
}
/* .myPlanRight {
    flex-grow: 1;
} */
.myPlanParent {
    display: flex;
}

@media only screen and (max-width:400px){
    
}
@media only screen and (min-width:400px) and (max-width:770px){
    
}
@media only screen and (min-width:770px) and (max-width:1023px){
    
}
@media only screen and (min-width:1023px){   
    

}