div.mainPageComp {
    /*height: 2000px;*/
    display: flex;
    flex-direction: column;
}


/*div.miniTable div{*/
/*    float: left;*/
/*}*/

/*div.miniTable{*/
/*    text-align: center;*/
/*}*/

/*.shareBoardList, .noticeList{*/
/*    margin: 0px;*/
/*}*/


/*div.mainPhotoComp{*/
/*    !*display: flex;*!*/
/*}*/


/*mainPhotoComp*/
div.mainPhotoComp {
    display: flex;
}

div.mainPhotoComp img {
    transform: scale(1);
    opacity: 0.3;
}

div.mainPhotoComp img:nth-child(1) {
    position: relative;
    left: 0;
}

div.mainPhotoComp img:nth-child(2) {
    position: relative;
    left: -1920px;
}

div.mainPhotoComp img:nth-child(3) {
    position: relative;
    left: calc(-1920px * 2);
}


/*search-myplan*/
div.search-myplan {
    display: flex;
}

div.search-myplan div {
    flex: 1;
    height: 500px;
    border: 1px solid black;
}

div.search-myplan div.searchComp {
    flex: 0.33;
}

/*div.search-myplan div.myPlanComp{*/
/*    flex: 0.3;*/
/*}*/


/*hotPlaceComp*/
div.hotPlaceComp {
    /*flex: 1;*/
    height: 500px;
    border: 1px solid black;
}

/*etcBoardComp*/
div.etcBoardComp {
    /*flex: 1;*/
    height: 500px;
    border: 1px solid black;
}
