div.mainPageComp {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

div.mainPageComp div {
    /*border: 1px solid black;*/
}


/*mainPhotoComp*/
@media only screen and (min-width: 1500px) {
    div.mainPhotoComp {
        max-height: 600px;
        min-height: 600px;
        overflow: hidden;
    }

    /*div.mainPhotoComp div:nth-child(1) {*/
    /*    top: 0px;*/
    /*}*/
    /*div.mainPhotoComp div:nth-child(2) {*/
    /*    top: calc(-600px);*/
    /*}*/
    /*div.mainPhotoComp div:nth-child(3) {*/
    /*    top: calc(-600px * 2);*/
    /*}*/
    /*div.mainPhotoComp div:nth-child(4) {*/
    /*    top: calc(-600px * 3);*/
    /*}*/
    div.mainPhotoComp img {
        max-height: initial;
        margin-top: -15%;
        width: 100%;
    }
}
@media only screen and (min-width: 1023px) and (max-width: 1500px) {
    div.mainPhotoComp {
        max-height: 600px;
        min-height: 600px;
        overflow: hidden;
    }

    /*div.mainPhotoComp div:nth-child(1) {*/
    /*    top: 0px;*/
    /*}*/
    /*div.mainPhotoComp div:nth-child(2) {*/
    /*    top: calc(-600px);*/
    /*}*/
    /*div.mainPhotoComp div:nth-child(3) {*/
    /*    top: calc(-600px * 2);*/
    /*}*/
    /*div.mainPhotoComp div:nth-child(4) {*/
    /*    top: calc(-600px * 3);*/
    /*}*/
    div.mainPhotoComp img {
        max-height: initial;
        margin-top: -4%;
        width: 100%;
    }
}

@media only screen and (min-width: 770px) and (max-width: 1023px) {
    div.mainPhotoComp {
        max-height: 300px;
        min-height: 300px;
        overflow: hidden;
    }

    div.mainPhotoComp img {
        max-height: initial;
        margin-top: -15%;
        width: 100%;
    }
}

@media only screen and (min-width: 400px) and (max-width: 770px) {
    div.mainPhotoComp {
        max-height: 150px;
        min-height: 150px;
        overflow: hidden;
    }

    div.mainPhotoComp img {
        max-height: initial;
        margin-top: -15%;
        width: 100%;
    }
}

@media only screen and (max-width: 400px) {
    div.mainPhotoComp {
        max-height: 150px;
        min-height: 150px;
        overflow: hidden;
    }

    div.mainPhotoComp img {
        max-height: initial;
        margin-top: -15%;
        width: 100%;
    }
}

/*search-myplan*/
div.search-myplan div {
    /*border: 1px solid black;*/
}

@media only screen and (min-width: 1023px) {
    div.search-myplan {
        display: flex;
        padding: 30px;
    }

    div.search-myplan .searchComp {
        border-right: 1px solid #aaa;
        height: 400px;
        padding: 20px;
        width: 30vw;
    }

}

@media only screen and (max-width: 1023px) {
    div.search-myplan {
        display: flex;
        flex-wrap: wrap;
        padding: 20px;
        margin: 0px;
        /* font-size: 0.8rem; */
    }

    div.search-myplan .searchComp {
        flex-grow: 0;
        height: 200px;
        /*min-width: 770px;*/
        max-width: 1023px;
    }

    div.search-myplan .myPlanComp {
        height: 350px;
        min-width: 770px;
        max-width: 1023px;
    }
}

@media only screen and (max-width: 770px) {
    div.search-myplan {
        padding: 10px;
    }
}

@media only screen and (max-width: 400px) {
    div.search-myplan {
        display: flex;
        flex-wrap: wrap;
        padding: 10px;
        margin: 0px;
        /* font-size: 0.6rem; */
    }

    div.search-myplan .searchComp {
        flex-grow: 0;
        height: 150px;
        /*min-width: 770px;*/
        max-width: 1023px;
    }

    div.search-myplan .myPlanComp {
        height: 500px;
        min-width: 770px;
        max-width: 1023px;
    }
}


/*@media only screen and (min-width:770px) and (max-width:1023px){*/

/*}*/


/*@media only screen and (min-width:400px) and (max-width:770px){*/

/*}*/

/*@media only screen and (max-width:400px){*/

/*}*/


/*hotPlaceComp*/
div.hotPlaceComp div.hotPlace_location div.btn_go img.img_wholeMap {
    opacity: 0;
}

div.hotPlaceComp div.hotPlace_location div.btn_go div {
    opacity: 0;
    font-weight: bold;
}

@media only screen and (min-width: 1500px) {
    div.hotPlaceComp {
        display: flex;
        height: 750px;
        border-top: 1px solid #aaa;
        padding: 20px;
    }

    div.hotPlaceComp div.hotPlace_sample {
        padding-left: 20px;
        overflow: auto;
    }

    div.hotPlaceComp div.hotPlace_location div.btn_go {
        transform: scale(1);
        position: absolute;
        top: -80px;
        left: 5px;
    }

    /*left: -125px; top: 1194px;*/
    /*left: -126px; top: 1298px;*/
    div.hotPlaceComp div.hotPlace_location div.btn_go img {
        position: absolute;
        left: -126px;
        top: 1298px;
        transform: scale(0.7);
        z-index: 1;
        visibility: hidden;
    }

    div.hotPlaceComp div.hotPlace_location div.btn_go img.img_wholeMap {
        position: absolute;
        left: -126px;
        top: 1298px;
        transform: scale(0.7);
        z-index: 0;
        visibility: visible;
    }

    div.hotPlaceComp div.hotPlace_location div.btn_go div {
        width: 70px;
        z-index: 4;
    }

    div.hotPlaceComp div.hotPlace_location div.btn_go div a {
        text-decoration: none;
        font-size: 23px;
        color: gold;
    }

    div.hotPlaceComp div.hotPlace_location div.btn_go div.udo a {
        text-decoration: none;
        font-size: 25px;
        color: black;
    }

    div.btn_go div.jeju {
        position: absolute;
        left: calc(341px - 6px);
        top: calc(1390px + 104px);
    }

    div.btn_go div.jocheon {
        position: absolute;
        left: calc(452px - 6px);
        top: calc(1361px + 104px);
    }

    div.btn_go div.gujwa {
        position: absolute;
        left: calc(546px - 6px);
        top: calc(1349px + 104px);
    }

    div.btn_go div.sungsan {
        position: absolute;
        left: calc(598px - 6px);
        top: calc(1425px + 104px);
    }

    div.btn_go div.pyoseon {
        position: absolute;
        left: calc(526px - 6px);
        top: calc(1468px + 104px);
    }

    div.btn_go div.namwon {
        position: absolute;
        left: calc(442px - 6px);
        top: calc(1507px + 104px);
    }

    div.btn_go div.seogwipo {
        position: absolute;
        left: calc(313px - 6px);
        top: calc(1541px + 104px);
    }

    div.btn_go div.andeok {
        position: absolute;
        left: calc(186px - 6px);
        top: calc(1545px + 104px);
    }

    div.btn_go div.daejung {
        position: absolute;
        left: calc(113px - 6px);
        top: calc(1574px + 104px);
    }

    div.btn_go div.hangyeong {
        position: absolute;
        left: calc(100px - 6px);
        top: calc(1514px + 104px);
    }

    div.btn_go div.hanrim {
        position: absolute;
        left: calc(143px - 6px);
        top: calc(1469px + 104px);
    }

    div.btn_go div.aewol {
        position: absolute;
        left: calc(220px - 6px);
        top: calc(1433px + 104px);
    }

    div.btn_go div.udo {
        position: absolute;
        left: calc(691px - 6px);
        top: calc(1310px + 104px);
    }


    div.hotPlaceComp div.hotPlace_location {
        /*width: 40%;*/
        min-width: 750px;
        border-right: 1px solid;
        padding-right: 20px;

    }


}

@media only screen and (min-width: 1023px) and (max-width: 1500px) {
    div.hotPlaceComp {
        display: flex;
        flex-wrap: wrap;
        padding: 20px;
        height: 1230px;
    }

    div.hotPlaceComp div.hotPlace_location {
        height: 470px;
    }

    div.hotPlaceComp div.hotPlace_sample {
        height: 720px;
        padding: 0px;
        margin-top: 20px;
        overflow: scroll;
    }

    div.hotPlaceComp div.hotPlace_location div.btn_go {
        transform: scale(1);
        position: absolute;
        top: -250px;
        left: 5px;
    }

    /*left: -125px; top: 1194px;*/
    /*left: -126px; top: 1298px;*/
    div.hotPlaceComp div.hotPlace_location div.btn_go img {
        position: absolute;
        left: -126px;
        top: calc(1298px + 50px);
        transform: scale(0.7);
        z-index: 1;
        visibility: hidden;
    }

    div.hotPlaceComp div.hotPlace_location div.btn_go img.img_wholeMap {
        z-index: 0;
        visibility: visible;
    }

    div.hotPlaceComp div.hotPlace_location div.btn_go div {
        width: 80px;
        z-index: 4;
        padding-top: 60px;
        padding-left: 10px;
    }

    div.hotPlaceComp div.hotPlace_location div.btn_go div a {
        text-decoration: none;
        font-size: 23px;
        color: gold;
    }

    div.hotPlaceComp div.hotPlace_location div.btn_go div.udo a {
        text-decoration: none;
        font-size: 25px;
        color: black;
    }

    div.btn_go div.jeju {
        position: absolute;
        left: calc(341px - 6px);
        top: calc(1390px + 104px);
    }

    div.btn_go div.jocheon {
        position: absolute;
        left: calc(452px - 6px);
        top: calc(1361px + 104px);
    }

    div.btn_go div.gujwa {
        position: absolute;
        left: calc(546px - 6px);
        top: calc(1349px + 104px);
    }

    div.btn_go div.sungsan {
        position: absolute;
        left: calc(598px - 6px);
        top: calc(1425px + 104px);
    }

    div.btn_go div.pyoseon {
        position: absolute;
        left: calc(526px - 6px);
        top: calc(1468px + 104px);
    }

    div.btn_go div.namwon {
        position: absolute;
        left: calc(442px - 6px);
        top: calc(1507px + 104px);
    }

    div.btn_go div.seogwipo {
        position: absolute;
        left: calc(313px - 6px);
        top: calc(1541px + 104px);
    }

    div.btn_go div.andeok {
        position: absolute;
        left: calc(186px - 6px);
        top: calc(1545px + 104px);
    }

    div.btn_go div.daejung {
        position: absolute;
        left: calc(113px - 6px);
        top: calc(1574px + 104px);
    }

    div.btn_go div.hangyeong {
        position: absolute;
        left: calc(100px - 6px);
        top: calc(1514px + 104px);
    }

    div.btn_go div.hanrim {
        position: absolute;
        left: calc(143px - 6px);
        top: calc(1469px + 104px);
    }

    div.btn_go div.aewol {
        position: absolute;
        left: calc(220px - 6px);
        top: calc(1433px + 104px);
    }

    div.btn_go div.udo {
        position: absolute;
        left: calc(691px - 6px);
        top: calc(1310px + 104px);
    }


}

@media only screen and (min-width: 770px) and (max-width: 1023px) {
    div.hotPlaceComp {
        display: flex;
        flex-wrap: wrap;
        padding: 20px;
        height: 1230px;
    }

    div.hotPlaceComp div.hotPlace_location {
        height: 270px;
    }

    div.hotPlaceComp div.hotPlace_sample {
        height: 720px;
        padding: 0px;
        margin-top: 20px;
        overflow: scroll;
        /*transform: scale(0.8);*/
    }

    div.hotPlaceComp div.hotPlace_location div.btn_go {
        transform: scale(0.8);
        position: absolute;
        top: -150px;
        left: 50px;
    }

    /*left: -125px; top: 1194px;*/
    /*left: -126px; top: 1298px;*/
    div.hotPlaceComp div.hotPlace_location div.btn_go img {
        position: absolute;
        left: -126px;
        top: calc(1298px + 50px);
        transform: scale(0.7);
        z-index: 1;
        visibility: hidden;
    }

    div.hotPlaceComp div.hotPlace_location div.btn_go img.img_wholeMap {
        z-index: 0;
        visibility: visible;
    }

    div.hotPlaceComp div.hotPlace_location div.btn_go div {
        width: 80px;
        z-index: 4;
        padding-top: 60px;
        padding-left: 10px;
    }

    div.hotPlaceComp div.hotPlace_location div.btn_go div a {
        text-decoration: none;
        font-size: 23px;
        color: gold;
    }

    div.hotPlaceComp div.hotPlace_location div.btn_go div.udo a {
        text-decoration: none;
        font-size: 25px;
        color: black;
    }

    div.btn_go div.jeju {
        position: absolute;
        left: calc(341px - 6px);
        top: calc(1390px + 104px);
    }

    div.btn_go div.jocheon {
        position: absolute;
        left: calc(452px - 6px);
        top: calc(1361px + 104px);
    }

    div.btn_go div.gujwa {
        position: absolute;
        left: calc(546px - 6px);
        top: calc(1349px + 104px);
    }

    div.btn_go div.sungsan {
        position: absolute;
        left: calc(598px - 6px);
        top: calc(1425px + 104px);
    }

    div.btn_go div.pyoseon {
        position: absolute;
        left: calc(526px - 6px);
        top: calc(1468px + 104px);
    }

    div.btn_go div.namwon {
        position: absolute;
        left: calc(442px - 6px);
        top: calc(1507px + 104px);
    }

    div.btn_go div.seogwipo {
        position: absolute;
        left: calc(313px - 6px);
        top: calc(1541px + 104px);
    }

    div.btn_go div.andeok {
        position: absolute;
        left: calc(186px - 6px);
        top: calc(1545px + 104px);
    }

    div.btn_go div.daejung {
        position: absolute;
        left: calc(113px - 6px);
        top: calc(1574px + 104px);
    }

    div.btn_go div.hangyeong {
        position: absolute;
        left: calc(100px - 6px);
        top: calc(1514px + 104px);
    }

    div.btn_go div.hanrim {
        position: absolute;
        left: calc(143px - 6px);
        top: calc(1469px + 104px);
    }

    div.btn_go div.aewol {
        position: absolute;
        left: calc(220px - 6px);
        top: calc(1433px + 104px);
    }

    div.btn_go div.udo {
        position: absolute;
        left: calc(691px - 6px);
        top: calc(1310px + 104px);
    }


}

@media only screen and (min-width: 400px) and (max-width: 770px) {
    div.hotPlaceComp {
        display: flex;
        flex-wrap: wrap;
        padding: 20px;
        height: 700px;
    }

    div.hotPlaceComp div.hotPlace_location {
        height: 200px;
    }

    div.hotPlaceComp div.hotPlace_sample {
        height: 450px;
        padding: 0px;
        margin-top: 20px;
        overflow: scroll;
    }

    div.hotPlaceComp div.hotPlace_location div.btn_go {
        transform: scale(0.5);
        position: absolute;
        top: 50px;
        left: 20px;
    }

    /*left: -125px; top: 1194px;*/
    /*left: -126px; top: 1298px;*/
    div.hotPlaceComp div.hotPlace_location div.btn_go img {
        position: absolute;
        left: -126px;
        top: calc(1298px + 50px);
        transform: scale(0.7);
        z-index: 1;
        visibility: hidden;
    }

    div.hotPlaceComp div.hotPlace_location div.btn_go img.img_wholeMap {
        z-index: 0;
        visibility: visible;
    }

    div.hotPlaceComp div.hotPlace_location div.btn_go div {
        width: 80px;
        z-index: 4;
        padding-top: 60px;
        padding-left: 10px;
    }

    div.hotPlaceComp div.hotPlace_location div.btn_go div a {
        text-decoration: none;
        font-size: 23px;
        color: gold;
    }

    div.hotPlaceComp div.hotPlace_location div.btn_go div.udo a {
        text-decoration: none;
        font-size: 25px;
        color: black;
    }

    div.btn_go div.jeju {
        position: absolute;
        left: calc(341px - 6px);
        top: calc(1390px + 104px);
    }

    div.btn_go div.jocheon {
        position: absolute;
        left: calc(452px - 6px);
        top: calc(1361px + 104px);
    }

    div.btn_go div.gujwa {
        position: absolute;
        left: calc(546px - 6px);
        top: calc(1349px + 104px);
    }

    div.btn_go div.sungsan {
        position: absolute;
        left: calc(598px - 6px);
        top: calc(1425px + 104px);
    }

    div.btn_go div.pyoseon {
        position: absolute;
        left: calc(526px - 6px);
        top: calc(1468px + 104px);
    }

    div.btn_go div.namwon {
        position: absolute;
        left: calc(442px - 6px);
        top: calc(1507px + 104px);
    }

    div.btn_go div.seogwipo {
        position: absolute;
        left: calc(313px - 6px);
        top: calc(1541px + 104px);
    }

    div.btn_go div.andeok {
        position: absolute;
        left: calc(186px - 6px);
        top: calc(1545px + 104px);
    }

    div.btn_go div.daejung {
        position: absolute;
        left: calc(113px - 6px);
        top: calc(1574px + 104px);
    }

    div.btn_go div.hangyeong {
        position: absolute;
        left: calc(100px - 6px);
        top: calc(1514px + 104px);
    }

    div.btn_go div.hanrim {
        position: absolute;
        left: calc(143px - 6px);
        top: calc(1469px + 104px);
    }

    div.btn_go div.aewol {
        position: absolute;
        left: calc(220px - 6px);
        top: calc(1433px + 104px);
    }

    div.btn_go div.udo {
        position: absolute;
        left: calc(691px - 6px);
        top: calc(1310px + 104px);
    }


}

@media only screen and (max-width: 400px) {
    div.hotPlaceComp {
        display: flex;
        flex-wrap: wrap;
        padding: 20px;
        height: 660px;
    }

    div.hotPlaceComp div.hotPlace_location {
        height: 200px;
    }

    div.hotPlaceComp div.hotPlace_sample {
        height: 400px;
        padding: 0px;
        margin-top: 20px;
        overflow: scroll;
    }

    div.hotPlaceComp div.hotPlace_location div.btn_go {
        transform: scale(0.5);
        position: absolute;
        top: 250px;
        left: 0px;
    }

    /*left: -125px; top: 1194px;*/
    /*left: -126px; top: 1298px;*/
    div.hotPlaceComp div.hotPlace_location div.btn_go img {
        position: absolute;
        left: -126px;
        top: calc(1298px + 50px);
        transform: scale(0.7);
        z-index: 1;
        visibility: hidden;
    }

    div.hotPlaceComp div.hotPlace_location div.btn_go img.img_wholeMap {
        z-index: 0;
        visibility: visible;
    }

    div.hotPlaceComp div.hotPlace_location div.btn_go div {
        width: 80px;
        z-index: 4;
        padding-top: 60px;
        padding-left: 10px;
    }

    div.hotPlaceComp div.hotPlace_location div.btn_go div a {
        text-decoration: none;
        font-size: 23px;
        color: gold;
    }

    div.hotPlaceComp div.hotPlace_location div.btn_go div.udo a {
        text-decoration: none;
        font-size: 25px;
        color: black;
    }

    div.btn_go div.jeju {
        position: absolute;
        left: calc(341px - 6px);
        top: calc(1390px + 104px);
    }

    div.btn_go div.jocheon {
        position: absolute;
        left: calc(452px - 6px);
        top: calc(1361px + 104px);
    }

    div.btn_go div.gujwa {
        position: absolute;
        left: calc(546px - 6px);
        top: calc(1349px + 104px);
    }

    div.btn_go div.sungsan {
        position: absolute;
        left: calc(598px - 6px);
        top: calc(1425px + 104px);
    }

    div.btn_go div.pyoseon {
        position: absolute;
        left: calc(526px - 6px);
        top: calc(1468px + 104px);
    }

    div.btn_go div.namwon {
        position: absolute;
        left: calc(442px - 6px);
        top: calc(1507px + 104px);
    }

    div.btn_go div.seogwipo {
        position: absolute;
        left: calc(313px - 6px);
        top: calc(1541px + 104px);
    }

    div.btn_go div.andeok {
        position: absolute;
        left: calc(186px - 6px);
        top: calc(1545px + 104px);
    }

    div.btn_go div.daejung {
        position: absolute;
        left: calc(113px - 6px);
        top: calc(1574px + 104px);
    }

    div.btn_go div.hangyeong {
        position: absolute;
        left: calc(100px - 6px);
        top: calc(1514px + 104px);
    }

    div.btn_go div.hanrim {
        position: absolute;
        left: calc(143px - 6px);
        top: calc(1469px + 104px);
    }

    div.btn_go div.aewol {
        position: absolute;
        left: calc(220px - 6px);
        top: calc(1433px + 104px);
    }

    div.btn_go div.udo {
        position: absolute;
        left: calc(691px - 6px);
        top: calc(1310px + 104px);
    }


}

/*etcBoardComp*/
div.etcBoardComp {
    /*flex: 1;*/
    height: 700px;
    border-top: 1px solid black;
    padding: 20px;
}

@media screen {

}
