
@media only screen and (max-width:450px){
    #SignupForm{
        margin: 100px auto;
        width: 95vw;
    }
    #SignChip {
        max-width: 90vw;
        overflow-x: hidden;
    }
    #SignupForm>table>caption {
        font-size: 13pt;
    }
    .mypageUpdateBtn {
        cursor: pointer;
    }
    #SignupForm input, #SignupForm select, #SignupForm table td, #SignupForm textarea{
        font-size: 0.7em;
    }
    .mypageUpdateBtn:hover {
        background-color: #036E38;
        color: white;
    }
    .mypageUpdateBtn>button:hover {
        color: white;
    }
    .clickMypageUpdateBtn {
        background-color: #036E38;
        color: white;
    }
    .mypageUpdateAddr {
        padding: 0.375rem 0.5rem;
        width: 20vw;
        border: 1px solid #ced4da;
        color: #495057;
        border-radius: 0.25rem;
        margin: 0 3px;
    }
    .postSearchModal {
        position: absolute;
        top: 0px;
        width: 30vw;
        height: 40vw;
        z-index: 100;
        border: 1px solid #000000;
        overflow: auto;
    }

    /* 로그인 */
    #LoginPageComp {
        margin-top: 100px;
    }
    #LoginForm{
        margin: 40px auto;
        width: 90vw;
    }
    #LoginForm p {
        font-size: 0.6rem;
    }
    #LoginForm input, #LoginForm table td{
        font-size: 0.8em;
    }
    #googleLogin button, #naverIdLogin, #naverIdLogin img{
        width: 90vw !important;
    }
    #naverIdLogin img {
        height: 15vw;
    }
    #googleLogin span {
        font-weight: 700 !important;
        font-size: 0.8rem;
    }
}
@media only screen and (min-width:450px) and (max-width:770px){
    #SignupForm{
        margin: 100px auto;
        width: 80vw;
    }
    #SignChip {
        max-width: 75vw;
        overflow-x: hidden;
    }
    #SignupForm>table>caption {
        font-size: 15pt;
    }
    .mypageUpdateBtn {
        cursor: pointer;
    }
    #SignupForm input, #SignupForm select, #SignupForm table td, #SignupForm textarea {
        font-size: 0.8em;
    }
    .mypageUpdateBtn:hover {
        background-color: #036E38;
        color: white;
    }
    .mypageUpdateBtn>button:hover {
        color: white;
    }
    .clickMypageUpdateBtn {
        background-color: #036E38;
        color: white;
    }
    .mypageUpdateAddr {
        padding: 0.375rem 0.5rem;
        width: 20vw;
        border: 1px solid #ced4da;
        color: #495057;
        border-radius: 0.25rem;
        margin: 0 3px;
    }
    .postSearchModal {
        position: absolute;
        top: 0px;
        width: 30vw;
        height: 40vw;
        z-index: 100;
        border: 1px solid #000000;
        overflow: hidden;
    }

    /* 로그인 */
    #LoginForm{
        margin: 50px auto;
        width: 50vw;
        font-size: 0.9rem;
    }
    #LoginForm p {
        font-size: 0.8rem;
    }
    #googleLogin button, #naverIdLogin, #naverIdLogin img{
        width: 50vw !important;
    }
    #naverIdLogin img {
        height: 10vw;
    }
    #googleLogin span {
        font-weight: 700 !important;
        font-size: 0.8rem;
    }
}
@media only screen and (min-width:770px) and (max-width:1023px){
    #SignupForm{
        margin: 100px auto;
        width: 60vw;
    }
    #SignChip {
        max-width: 55vw;
        overflow-x: hidden;
    }
    #SignupForm>table>caption {
        font-size: 18pt;
    }
    .mypageUpdateBtn {
        cursor: pointer;
    }
    #SignupForm input, #SignupForm select, #SignupForm table, #SignupForm textarea {
        font-size: 0.8em;
    }
    .mypageUpdateBtn:hover {
        background-color: #036E38;
        color: white;
    }
    .mypageUpdateBtn>button:hover {
        color: white;
    }
    .clickMypageUpdateBtn {
        background-color: #036E38;
        color: white;
    }
    .mypageUpdateAddr {
        padding: 0.375rem 0.5rem;
        width: 10vw;
        border: 1px solid #ced4da;
        color: #495057;
        border-radius: 0.25rem;
        margin: 0 3px;
    }
    .postSearchModal {
        position: absolute;
        top: 0px;
        width: 30vw;
        height: 40vw;
        z-index: 100;
        border: 1px solid #000000;
        overflow: hidden;
    }

    /* 로그인 */
    #LoginForm{
        margin: 80px auto;
        width: 40vw;
    }
    #LoginForm p {
        font-size: 0.8rem;
    }
    #googleLogin button, #naverIdLogin, #naverIdLogin img{
        width: 40vw !important;
    }
    #naverIdLogin img {
        height: 6vw;
    }
    #googleLogin span {
        font-weight: 700 !important;
        font-size: 1rem;
    }
}
@media only screen and (min-width:1023px){
    #SignupForm{
        margin: 100px auto;
        width: 60vw;
    }
    #SignChip {
        max-width: 55vw;
        overflow-x: hidden;
    }
    #SignupForm>table>caption {
        font-size: 20pt;
    }
    .mypageUpdateBtn {
        cursor: pointer;
    }
    .mypageUpdateBtn:hover {
        background-color: #036E38;
        color: white;
    }
    .mypageUpdateBtn>button:hover {
        color: white;
    }
    .clickMypageUpdateBtn {
        background-color: #036E38;
        color: white;
    }
    .mypageUpdateAddr {
        padding: 0.375rem 0.5rem;
        width: 10vw;
        border: 1px solid #ced4da;
        color: #495057;
        border-radius: 0.25rem;
        margin: 0 3px;
    }
    .postSearchModal {
        position: absolute;
        top: 0px;
        width: 30vw;
        height: 40vw;
        z-index: 100;
        border: 1px solid #000000;
        overflow: hidden;
    }

    /* 로그인 */
    #LoginForm{
        margin: 80px auto;
        width: 30vw;
    }
    #LoginForm p {
        font-size: 0.8rem;
    }
    #googleLogin button, #naverIdLogin, #naverIdLogin img{
        width: 30vw !important;
    }
    #googleLogin button span {
        font-size: 1.3rem;
    }
    #naverIdLogin img {
        height: 5vw;
    }
    #googleLogin span {
        font-weight: 700 !important;
        font-size: 1rem;
    }
}


#LoginForm p:hover {
    color: black;
    font-weight: 700;
}

.SignupBirth {
    width: 100%;
}